@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.page-header {
  background-color: white;
}

.navigation {
  background-color: #FFE17F;
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.search-input {
  background-color: #FFE17F;
}

.search-button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  background-color: #FFE17F;
  border: none;
  font: inherit;
  cursor: pointer;
}

.user-navigation-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: black
}

.main-navigation-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation-right {
  list-style-type: none;
}

.main-navigation-list {
  list-style-type: none;
}

.slider-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-other-text {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.slider-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  background-color: #FFE17F;
}

.slider-info-list {
  list-style-type: none;
}

.slider-info-name {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: black;

}

.slider-info-text {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.catalog-img-wrapper {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.catalog-item {
  list-style-type: none;
}

.catalog-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: black;
}

.catalog-link {
  text-decoration: none;
}

.service-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  background-color: #FFE17F;
  padding: 0;
  border: none;
  cursor: pointer;
}

.service-tab {
  list-style-type: none;
}

.service-button-active {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFE17F;
  background-color: black;
  padding: 0;
  border: none;
  cursor: pointer;
}

.service-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.service-text {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.info-banner {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23.48px;
  text-transform: uppercase;
}

.info-banner-img {
  background-color: #FFE17F;
}


.info-title-left {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.info-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.info-text {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.info-item {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.info-text-link {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.info-btn-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  background-color: #FFE17F;
  text-decoration: none;
}


.subscription-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscription-text {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscription-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
}

.prompt-text {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.page-footer {
  background-color: #444444;
}

address {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.footer-list {
  list-style-type: none;
}

.footer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  color: white;
  text-decoration: none;
}

.social-list {
  list-style-type: none;
}

.footer-tel {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.breadcrumbs {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

.breadcrumbs-list {
  list-style-type: none;
}

.catalog-sort-list {
  list-style-type: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: none;
  cursor: pointer;
}

.price-filter {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.color-filter-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.checkbox-filter-list {
  list-style-type: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.blueth-filter-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.blueth-filter-list {
  list-style-type: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-catalog {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #FFE17F;
}

.catalog-img-list {
  list-style-type: none;
}

.catalog-img-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: black;
}

.product-card-name {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.price-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.show-more {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.pagination-list {
  list-style-type: none;
}

.pagination-link-pagination-prev-pagination-disabled {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #444444;
}

.pagination-link-pagination-current {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
  color: #444444;
  text-decoration: none;
}

.pagination-link-pagination-next {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.pagination-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  color: #444444;
}
